<!DOCTYPE html>
<html lang="en">

<head>
  <title>E-Duka Bags</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="icon" href="/images/icon.jpg" type="image/x-icon">
  <script type="text/javascript" src="javascript/script.js" ></script>
</head>

<body>

  <br>
  <hr>

  <div class="container">
    <nav class="navbar navbar-expand-lg bg-danger bg-white">
      <a class="navbar-brand" href="/">
        <img src="images/logo.png" alt="">
      </a>
      <hr>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link btn btn-outline-primary" href="home.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-primary" href="shoes.html" >Shoes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-primary" href="watch.html" >Watch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-primary" href="bag.html"  >Bag</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-primary" href="phones.html" >Phones</a>
          </li>
         
          
        </ul>
      </div>

      <a class="navbar-brand" href="/"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse  d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" id="navbarNav">
        
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link btn btn-outline-primary" href="cart.html">Open Cart</a>
            </li>
        </ul>
      </div>


    </nav>
  </div>

  <div class="container catagories">
    <div class="row">
     <div class="col-md-4">
         <div class="ctg2 d-flex justify-content-between align-items-center">
           <h1>Bag</h1>
           <img src="images/categories/bag.png" alt="">
          </div>
      </div>
  </div>
</div>

<div class="container" id="bag">
    <div class="card-deck">
      <div class="card bd">
        <img src="images/bags/bag1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Red bag</h5>
          
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
            This card has even longer content than the first to show that equal height action.  </p> 
        </div>
        <div class="card-footer">
          <h5>Kshs. 1,250</h5>
          <button class="buy-now-button" class="item_add_to_cart" type="button" onclick="addToCart(bag1)"> Add to Cart</button>
          
        </div>
      </div>
      <div class="card bd">
        <img src="images/bags/bag2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Blue bag</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.  </p> 
        </div>
        <h5>Kshs. 3,260</h5>  
        <div class="card-footer">
          <button class="buy-now-button">Add To Cart</button>
        </div>
      </div>
      <div class="card bd">
        <img src="images/bags/bag3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Black bag</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This card has even longer content than the first to show that equal height action.</p>
           
          </div>
        <div class="card-footer ft">
          <h5>Kshs. 1,690</h5>
          <button class="buy-now-button">Add To Cart</button>
        </div>
      </div>
    </div>
  </div>



  <div class="container" id="bag">
    <div class="card-deck">
      <div class="card bd">
        <img src="images/bags/bag4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Red bag</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
            This card has even longer content than the first to show that equal height action.  </p> 
        </div>
        <div class="card-footer">
          <h5>Kshs. 1,250</h5>
          <button class="buy-now-button">Add To Cart</button>
        </div>
      </div>
      <div class="card bd">
        <img src="images/bags/bag5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Blue bag</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
            This card has even longer content than the first to show that equal height action.  </p> 
        </div>
        <div class="card-footer">
          <h5>Kshs. 3,260</h5>
          <button class="buy-now-button">Add To Cart</button>
        </div>
      </div>
      <div class="card bd">
        <img src="images/bags/bag6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Black bag</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
            This card has even longer content than the first to show that equal height action.  </p> 
      </div>
        <div class="card-footer ft">
          <h5>Kshs. 1,690</h5> 
          <button class="buy-now-button">Add To Cart</button>
        </div>
      </div>
    </div>
  </div>


  <hr>
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021 E-Duka </p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>


  
<script type="text/template" id="cartT">
  <% _.each(items, function (item) { %> <div class = "panel"> <h3> <%= item.name %> </h3>  <span class="label">
  <%= item.count %> piece<% if(item.count > 1)
  {%>s
  <%}%> for <%= item.total %>₹</span > </div>
  <% }); %>
  </script>
   
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>
  <script  src="function.js"></script>
   

  </body>
  </html>
